/* Structure */
.container-fluid {
  max-width: 1200px;
}
:root {
  scroll-behavior: smooth;
}

/* Custom Utility */
.primary-color {
  /* color: #03dac6; */
  color: #80ffea;
}

/* Body */
body {
  background-color: #24242b;
  /* scroll-behavior: smooth; */
}

/* Navagation */
nav.navbar {
  background-color: #24242b
}
@media (max-width: 992px) {
  .navbar {
    padding: 0 15px !important;
  }
}
nav.navbar {
  padding: 25px 0 25px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

nav a {
  color: #fff !important;
}

.navbar-nav li:hover,
.active {
  border-bottom: 3px solid #80ffea;
  margin-bottom: -3px;
}

@media (max-width: 992px) {

  .navbar-nav li:hover,
  .active {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .navbar-nav a:hover {
    color: #80ffea !important;
  }
}

.navbar-brand {
  font-size: 2.5em;
}

.navbar-nav .nav-item {
  margin-right: 1.5em;
}

/* Home */

@media (max-width: 992px) {
  .home-info {
    padding-top: 60px;
  }
}
.welcome-info {
  height: 100vh;
}
.welcome-info h1 {
  font-size: 70px;
}

.welcome-info .wave {
  font-size: 150px;
  animation: wave .3s .5s 3;
}

.welcome-info p {
  line-height: 2em;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave:hover {
  animation: wave .3s infinite;
}

.welcome-info .badge-primary,
a.badge:hover,
a.badge:focus {
  background-color: #80ffea;
  color: #24242b;
  box-shadow: none;
}



/* Portfolio */
section#portfolio {
  background-color: #353537;
}
.portfolio-wrap {
  padding: 160px 0 160px;
}
.portfolio-wrap h2::after {
  display: block;
  margin: 19px auto 0;
}

.card {
  border-color: rgba(255, 255, 255, .1);
  background-color: #24242b;
}

.card .btn-primary {
  background-color: #80ffea;
  color: #24242b;
  border-color: #24242b;
}

/* About */
section#about {
  color: white;
}

#about .about-me
{
  padding: 160px 0 160px;
  line-height: 1.8em;
}
 h2 {
  font-size: 50px;
}

h2::after {
  content: "";
  display: block;
  background-color: #80ffea;
  width: 100px;
  height: 5px;
  margin-top: 19px;

}

.about-info,
.about-info a {
  color: #80ffea;
}

/* Contact */
section#contact {
  background-color: #353537;
  color: white;
}

#contact .contact-wrap {
  padding: 160px 0 160px;
}

#contact h2::after {
  margin: 19px auto 0;
}

.form-group textarea {
  height: 150px;
  max-height: 150px;
  min-height: 150px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  background-color: #24242b;
  color: white;
  font-size: 16px;
  padding: 20px 10px;
  border: none;
}

.form-group input:focus,
.form-group textarea:focus{
  outline: none;
}

/* Footer */
.footer-wrap {
  padding: 25px 0 25px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.footer-brand {
  font-size: 40px;
}
.footer-social {
  font-size: 24px;
}
.footer-social i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #80ffea;
  transition: all .3s ease-in;
}

.footer-social i:hover {
  background-color: #80ffea;
  border-color: none;
  color: #24242b !important;
}





